<p><%=client.name%> wants to access your resources.</p>

<form action="/oauth2/authorization/decision" method="post">
    <div>
         <input name="transaction_id" type="hidden" value="<%= transactionID %>">
    </div>
    <div>
        <input type="submit" value="Allow" id="allow">
        <input type="submit" value="Deny" id="deny">
    </div>
</form>
