<form action="/singup" method="post">
    <div>
        <label>Name:</label>
        <input type="text" name="name"/>
    </div>
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <label>Email:</label>
        <input type="email" name="email"/>
    </div>
    <div>
        <input type="submit" value="Register"/>
    </div>
</form>
